@layer components {
    .form-textarea {
        width: 100%;
        height: max-content;
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        outline: none;
        border-radius: 1rem;
        text-wrap: wrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .form-textarea-layer-1:focus {
        border-color: hsl(var(--layer-1-surface-focus));
    }
    
    .form-invalid-layer-1 {
        @apply bg-red-300;
    }

    .form-line-select {
        @apply h-full w-full rounded-2xl;
    }

    .form-line-active {
        @apply focus:outline-[4px] focus:outline-gray-400/30;
    }

    .form-line-wrap {
        @apply flex flex-row h-form_line w-full rounded-2xl;
    }

    .form-input {
        @apply input w-full p-0 pl-2 placeholder:font-[400];
    }

    .form-textarea,
    .form-select,
    .form-input {
        @apply flex flex-row justify-center items-center border-0 focus:border-0 outline-0 focus:outline-0 bg-transparent;
    }
}